.container{
  max-width: 640px;
  margin: 0 auto;
  position: relative;
}

.inner-container{
  padding-left: $padding-small-horizontal;
  padding-right: $padding-small-horizontal;
  @media #{$small} {
    padding-left: $padding-xl-horizontal;
    padding-right: $padding-xl-horizontal;
  }
}

.container--small{
  max-width: 1040px;
  padding-left: $half-spacing-unit;
  padding-right: $half-spacing-unit;
}

.layout{
  padding-top: 102px;
  @media #{$small} {
    padding-top: 59px;
  }
  &__header{
    position: absolute;
    top: 0;
  }
}

// .kitchen-layout{
//   display: flex;
//   flex-direction: column;
//   &__body{
//     display: flex;
//     flex-wrap: wrap;
//     flex: 1 auto;
//   }
// }

.admin,
.admin body,
.admin .page-wrap{
  height: 100%;
}
