.grid-tiles{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tile{
  @include rem;
  border: 1px solid $gray-light;
  color: $gray-light;
  cursor: pointer;
  padding: $half-spacing-unit;
  flex-grow: 1;
  max-width: em(340);
  margin-bottom: 6px;
  position: relative;
  & + &{
    margin-left: 6px;
  }
  &__footer{
    background: linear-gradient(tranparent, rgba(black, 0.10));
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 6px;
  }
  &__title{
    font-weight: 400;
    font-size: em(14);
    font-family: $font-family-serif;
    margin: 0;
  }
  &__text{
    font-size: em(12);
    margin: 0;
  }
}

.grid-tiles__empty-state {
  padding: 100px 0;
  width: 100%;
  text-align: center;
  font-size: 24px;
}

.order__title {
  font-size: 1em;
  margin: 0 0 $half-spacing-unit; 
}

.order__details {
  margin-top: 0;
}

.order__detail-name {
  clear: left;
  color: $gray-light;
  float: left;
  font-size: 0.9em;
  font-weight: normal;
  width: 75px;
}

.order__detail-value {
  color: $gray-dark;
  float: left;
  font-size: 0.9em;
}

.order__dishes {
  color: $gray-base;
}
