.complex-layout{
  padding-top: 61px;
  padding-left: em(40);
  transition: all 0.15s ease-out;
  @media #{$small} {
    padding-left: em(70) !important;
  }
  &__header,
  &__side-area,
  &__close{
    position: fixed;
    z-index: 1;
    left: 0;
  }
  &__side-area,
  &__body{
    transition: all 0.15s ease-out;
  }
  &__header{
    width: 100%;
    top: 0;
  }
  &__side-area{
    top: 61px;
    bottom: 0;
    margin-left: em(-40);
    overflow-y: auto;
    left: em(40);
  }
  &__close{
    top: 62px;
    left: 0;
    transition: all 0.15s ease-out;
  }
  @media #{$small} {
    &__close{
      display: none;
    }
  }
  &.is-active{
    .complex-layout__side-area,
    .complex-layout__close{
      left: em(40);
    }
  }
}
