.complex-layout{
  &__header,
  &__side-area,
  &__close{
    position: fixed;
    z-index: 1;
  }
  &__side-area,
  &__body{
    transition: all 0.15s ease-out;
  }
  &__header{
    width: 100%;
    top: 0;
  }
  &__side-area{
    top: 62px;
    bottom: 0;
    margin-left: em(-90);
    overflow-y: auto;
    left: 0;
  }
  &__body{
    padding-top: 62px;
  }
  &__close{
    top: 62px;
    left: 0;
    transition: all 0.15s ease-out;
  }
  @media #{$medium} {
    &__close{
      display: none;
    }
    &__side-area{
      left: em(90) !important;
    }
    &__body{
      padding-left: em(90) !important;
    }
  }
  &.is-active{
    .complex-layout__side-area,
    .complex-layout__close{
      left: em(90);
    }
    // .complex-layout__body{
    //   padding-left: em(90);
    // }
  }
}
