.kitchen-orders {
  background: $gray-lighter;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.kitchen-order{
  @include rem;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(0, 0, 0, .2);
  margin: 0.5%;
  min-width: 350px;
  overflow-y: auto;
  height: 100%;
  &__head{
    padding: $half-spacing-unit / 2 $half-spacing-unit;
  }
  &__title{
    font-size: $font-size-h4;
    margin: 0;
  }
}

.kitchen-order__buttons {
  padding: 15px;
}
