.popover{
  position: relative;
  &__content{
    position: absolute;
  }
}

.popover-menu{
  @include rem;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  font-family: $font-family-sans-serif;
  padding-left: em($base-spacing-unit);
  padding-right: em($base-spacing-unit);
  min-width: em(165);
  &__item{
    border-bottom: 1px solid $brand-ui;
    font-size: em(12);
    &:last-child{
      border-bottom: 0;
    }
  }
  &__link{
    color: $gray-light;
    display: block;
    padding-top: em($half-spacing-unit, 12);
    padding-bottom: em($half-spacing-unit, 12);
  }
  &--default{
    background: white;
    border: 1px solid $brand-ui;
    border-radius: $border-radius-base;
    box-shadow: 0 1px 1px rgba(black, 0.20);
  }
}
