.side-area{
  background-color: #342A37;
  color: white;
  width: 250px;
  transform: translateZ(0);
  &__top{
    padding: em(30) em($base-spacing-unit);
  }
  &__input{
    border-radius: 100px;
    background-color: #1F1921;
    border-color: #1F1921;
  }
  &__icon{
    margin-top: 9px;
    color: #FFDD54;
    text-decoration: none;
    &:hover,
    &:focus{
      color: darken(#FFDD54, 5%);
    }
  }
}
.side-navigation{
  list-style: none;
  margin: 0;
  &__item{
    font-weight: 300;
  }
  &__link{
    color: inherit;
    text-decoration: none;
    display: block;
    padding: em(30) em($base-spacing-unit);
    &:hover,
    &.is-active{
      color: inherit;
      background-color: #261F28;
    }
  }
}
